
<header class="main_header">
  <!--  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a> -->
  {% if page.audio %}
  <audio class="btn-audio" "controls="controls"" autoplay="autoplay" preload="auto" loop="loop" volume="0.2">
    <source src="{{site.baseurl}}/assets/audio/{{page.audio | append: .mp3 }}" type="audio/mpeg">
    <source src="{{site.baseurl}}/assets/audio/{{page.audio | append: .ogg }}" type="audio/ogg">
  Your browser does not support the audio element.
  </audio>
  $(function(){
    $("#audio")[0].play();
  {% endif %}
  <a href="{{site.baseurl}}/" class="logo-no"><img style=width:50%; src="{{site.baseurl}}/assets/img/logo-white.png"/></a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
<!--     <a href="{{site.baseurl}}/contact/">Contact</a> -->
  </nav>
</header> <!-- End Section Header -->
