<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div style="display:none;"><img src={% if page.cover contains 'http' %}{{ page.cover }}{% else %}{{ "/assets/img/" | prepend: site.baseurl | append: page.cover }}{% endif %} alt="{{page.title}}"></div>
  {{ content }}

  {% include arrow_top.html %}
  {% include javascripts.html %}
  <!-- {% include analytics.html %} -->
  {% include baidu-analysis.html %}
  <!-- <script>
      function autoPlayVideo(){
        let bgAudio = document.getElementById("bg-video");
        bgAudio.play();
        document.addEventListener("WeixinJSBridgeReady",function () {
            bgAudio.play();
        }, false);
        // 其他应用在click/touch时触发播放
        document.addEventListener('click', function () {
            bgAudio.play()
        })  
        document.addEventListener('touchstart', function () {
            bgAudio.play()
        })
      }
      autoPlayVideo();
    </script> -->
</body>
</html>
